.footer {
  background-color: rgba(6, 182, 246, 0.1);
  border: 1px solid #eeeded;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-bottom: 20px;
}

.footer div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer div:nth-child(1) div:nth-child(1) {
  margin-left: 10px;
}

.footer div:nth-child(1) div:nth-child(2) {
  display: flex;
  margin-right: 5px;
  margin-left: 25px;
}

.footer div:nth-child(1) div:nth-child(1) {
  color: rgb(107, 105, 105);
  font-size: 14px;
}

.footer svg {
  width: 20px;
  height: 20px;
}

.footer button {
  padding: 5px 15px;
  background-color: rgb(91, 195, 31);
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid rgb(91, 195, 31);
}